*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background-color: 	rgb(13, 143, 208);
}

// Navbar
nav{
    background: #2E2E2E;
    color: #FFF;
    height: 45px;
    padding: 0 18px 0 18px;
    border-radius: 0px;
    position: sticky;
    top: 0;
    min-width: 200px;

    ul,
    li{
        margin: 0 auto;
        padding: 0;
        list-style: none
    }

    ul{
        width: 100%;
    }

    li{
        float: left;
        display: inline;
        position: relative;

        a:hover{
            color: #0099CC;
            background: #F2F2F2;
        }
    }

    a{
        display: block;
        line-height: 45px;
        padding: 0 14px;
        text-decoration: none;
        color: #FFFFFF;
        font-size: 16px;
    }

    a.dropdown-arrow:after{
        content: "\25BE";
        margin-left: 5px;
    }

    input{
        display: none;
        margin: 0;
        padding: 0;
        height: 45px;
        width: 100%;
        opacity: 0;
        cursor: pointer
    }

    label{
        display: none;
        line-height: 45px;
        text-align: center;
        position: absolute;
        left: 35px
    }

    label:before{
        font-size: 1.6em;
        content: "\2261"; 
        margin-left: 20px;
    }

    ul.sub-menus{
        height: auto;
        overflow: hidden;
        min-width: 73px;
        background: #444444;
        position: absolute;
        z-index: 99;
        display: none;

        li{
            display: block;
            width: 100%;
        }

        a{
            color: #FFFFFF;
            font-size: 16px;
        }

        a:hover{
            background: #F2F2F2;
            color: #444444;
        }
    }

    li:hover ul.sub-menus{
        display: block
    }

    .floatRight{
        float: right !important;
    }
}